.App {
  text-align: center;
  display: flex;
  font-size: 15px;
  margin: 200px 400px;
  font-family:"Big Shoulders Display";
}

.App p {
  font-family:"Lexend Deca";
  text-align: left;
  color: white;
}

.App h1 {
  color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0px 0px 10px;
}

.sedans button {
  color: hsl(31, 77%, 52%);
  font-family:"Lexend Deca";
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.suvs button {
  color: hsl(184, 100%, 22%);
  font-family:"Lexend Deca";
}

.luxurys {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 10px 10px 0px;
  
}

.luxurys button {
  color: hsl(179, 100%, 13%);
  font-family:"Lexend Deca";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
